<%- include('partials/head.ejs'); %>

<h1>F1 information</h1>

<h2>Lap: <%= driverData[20].lap %></h2>

<!-- 1: Lewis Hamilton -->
<article class="user-driver">
  <h3><%= driverData[0].driver_name %></h3>
  <span><%= driverData[0].position %></span>
  <span>Tyre: <%= driverData[0].tyre %></span>
  <span>Last lap: <%= driverData[0].lap_time %></span>
  <svg xmlns="http://www.w3.org/2000/svg"
       width="24"
       height="24"
       viewBox="0 0 24 24"
       fill="none"
       stroke="#000">
       
       <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"/>
  </svg>
</article>

<!-- 2: Valterri Bottas -->
<article class="user-driver">
  <h3><%= driverData[1].driver_name %></h3>
  <span><%= driverData[1].position %></span>
  <span>Tyre: <%= driverData[1].tyre %></span>
  <span>Last lap: <%= driverData[1].lap_time %></span>
  <svg xmlns="http://www.w3.org/2000/svg"
       width="24"
       height="24"
       viewBox="0 0 24 24"
       fill="none"
       stroke="#000">
       
       <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"/>
  </svg>
</article>

<!-- 3: Max Verstappen -->
<article class="user-driver">
  <h3><%= driverData[2].driver_name %></h3>
  <span><%= driverData[2].position %></span>
  <span>Tyre: <%= driverData[2].tyre %></span>
  <span>Last lap: <%= driverData[2].lap_time %></span>
  <svg xmlns="http://www.w3.org/2000/svg"
       width="24"
       height="24"
       viewBox="0 0 24 24"
       fill="none"
       stroke="#000">
       
       <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"/>
  </svg>
</article>

<!-- 4: Sergio Perez -->
<article class="user-driver">
  <h3><%= driverData[3].driver_name %></h3>
  <span><%= driverData[3].position %></span>
  <span>Tyre: <%= driverData[3].tyre %></span>
  <span>Last lap: <%= driverData[3].lap_time %></span>
  <svg xmlns="http://www.w3.org/2000/svg"
       width="24"
       height="24"
       viewBox="0 0 24 24"
       fill="none"
       stroke="#000">
       
       <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"/>
  </svg>
</article>

<!-- 5: Lando Norris -->
<article class="user-driver">
  <h3><%= driverData[4].driver_name %></h3>
  <span><%= driverData[4].position %></span>
  <span>Tyre: <%= driverData[4].tyre %></span>
  <span>Last lap: <%= driverData[4].lap_time %></span>
  <svg xmlns="http://www.w3.org/2000/svg"
       width="24"
       height="24"
       viewBox="0 0 24 24"
       fill="none"
       stroke="#000">
       
       <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"/>
  </svg>
</article>

<!-- 6: Daniel Ricciardo -->
<article class="user-driver">
  <h3><%= driverData[5].driver_name %></h3>
  <span><%= driverData[5].position %></span>
  <span>Tyre: <%= driverData[5].tyre %></span>
  <span>Last lap: <%= driverData[5].lap_time %></span>
  <svg xmlns="http://www.w3.org/2000/svg"
       width="24"
       height="24"
       viewBox="0 0 24 24"
       fill="none"
       stroke="#000">
       
       <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"/>
  </svg>
</article>

<!-- 7: Lance Stroll -->
<article class="user-driver">
  <h3><%= driverData[6].driver_name %></h3>
  <span><%= driverData[6].position %></span>
  <span>Tyre: <%= driverData[6].tyre %></span>
  <span>Last lap: <%= driverData[6].lap_time %></span>
  <svg xmlns="http://www.w3.org/2000/svg"
       width="24"
       height="24"
       viewBox="0 0 24 24"
       fill="none"
       stroke="#000">
       
       <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"/>
  </svg>
</article>

<!-- 8: Sebastian Vettel -->
<article class="user-driver">
  <h3><%= driverData[7].driver_name %></h3>
  <span><%= driverData[7].position %></span>
  <span>Tyre: <%= driverData[7].tyre %></span>
  <span>Last lap: <%= driverData[7].lap_time %></span>
  <svg xmlns="http://www.w3.org/2000/svg"
       width="24"
       height="24"
       viewBox="0 0 24 24"
       fill="none"
       stroke="#000">
       
       <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"/>
  </svg>
</article>

<!-- 9: Esteban Ocon -->
<article class="user-driver">
  <h3><%= driverData[8].driver_name %></h3>
  <span><%= driverData[8].position %></span>
  <span>Tyre: <%= driverData[8].tyre %></span>
  <span>Last lap: <%= driverData[8].lap_time %></span>
  <svg xmlns="http://www.w3.org/2000/svg"
       width="24"
       height="24"
       viewBox="0 0 24 24"
       fill="none"
       stroke="#000">
       
       <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"/>
  </svg>
</article>

<!-- 10: Fernando Alonso -->
<article class="user-driver">
  <h3><%= driverData[9].driver_name %></h3>
  <span><%= driverData[9].position %></span>
  <span>Tyre: <%= driverData[9].tyre %></span>
  <span>Last lap: <%= driverData[9].lap_time %></span>
  <svg xmlns="http://www.w3.org/2000/svg"
       width="24"
       height="24"
       viewBox="0 0 24 24"
       fill="none"
       stroke="#000">
       
       <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"/>
  </svg>
</article>

<!-- 11: Charles Leclerc -->
<article class="user-driver">
  <h3><%= driverData[10].driver_name %></h3>
  <span><%= driverData[10].position %></span>
  <span>Tyre: <%= driverData[10].tyre %></span>
  <span>Last lap: <%= driverData[10].lap_time %></span>
  <svg xmlns="http://www.w3.org/2000/svg"
       width="24"
       height="24"
       viewBox="0 0 24 24"
       fill="none"
       stroke="#000">
       
       <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"/>
  </svg>
</article>

<!-- 12: Carlos Sainz -->
<article class="user-driver">
  <h3><%= driverData[11].driver_name %></h3>
  <span><%= driverData[11].position %></span>
  <span>Tyre: <%= driverData[11].tyre %></span>
  <span>Last lap: <%= driverData[11].lap_time %></span>
  <svg xmlns="http://www.w3.org/2000/svg"
       width="24"
       height="24"
       viewBox="0 0 24 24"
       fill="none"
       stroke="#000">
       
       <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"/>
  </svg>
</article>

<!-- 13: Pierre Gasly -->
<article class="user-driver">
  <h3><%= driverData[12].driver_name %></h3>
  <span><%= driverData[12].position %></span>
  <span>Tyre: <%= driverData[12].tyre %></span>
  <span>Last lap: <%= driverData[12].lap_time %></span>
  <svg xmlns="http://www.w3.org/2000/svg"
       width="24"
       height="24"
       viewBox="0 0 24 24"
       fill="none"
       stroke="#000">
       
       <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"/>
  </svg>
</article>

<!-- 14: Yuki Tsunoda -->
<article class="user-driver">
  <h3><%= driverData[13].driver_name %></h3>
  <span><%= driverData[13].position %></span>
  <span>Tyre: <%= driverData[13].tyre %></span>
  <span>Last lap: <%= driverData[13].lap_time %></span>
  <svg xmlns="http://www.w3.org/2000/svg"
       width="24"
       height="24"
       viewBox="0 0 24 24"
       fill="none"
       stroke="#000">
       
       <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"/>
  </svg>
</article>

<!-- 15: Kimi Raikkonen -->
<article class="user-driver">
  <h3><%= driverData[14].driver_name %></h3>
  <span><%= driverData[14].position %></span>
  <span>Tyre: <%= driverData[14].tyre %></span>
  <span>Last lap: <%= driverData[14].lap_time %></span>
  <svg xmlns="http://www.w3.org/2000/svg"
       width="24"
       height="24"
       viewBox="0 0 24 24"
       fill="none"
       stroke="#000">
       
       <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"/>
  </svg>
</article>

<!-- 16: Antonio Giovinazzi -->
<article class="user-driver">
  <h3><%= driverData[15].driver_name %></h3>
  <span><%= driverData[15].position %></span>
  <span>Tyre: <%= driverData[15].tyre %></span>
  <span>Last lap: <%= driverData[15].lap_time %></span>
  <svg xmlns="http://www.w3.org/2000/svg"
       width="24"
       height="24"
       viewBox="0 0 24 24"
       fill="none"
       stroke="#000">
       
       <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"/>
  </svg>
</article>

<!-- 17: Mick Schumacher -->
<article class="user-driver">
  <h3><%= driverData[16].driver_name %></h3>
  <span><%= driverData[16].position %></span>
  <span>Tyre: <%= driverData[16].tyre %></span>
  <span>Last lap: <%= driverData[16].lap_time %></span>
  <svg xmlns="http://www.w3.org/2000/svg"
       width="24"
       height="24"
       viewBox="0 0 24 24"
       fill="none"
       stroke="#000">
       
       <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"/>
  </svg>
</article>

<!-- 18: Nikita Mazepin -->
<article class="user-driver">
  <h3><%= driverData[17].driver_name %></h3>
  <span><%= driverData[17].position %></span>
  <span>Tyre: <%= driverData[17].tyre %></span>
  <span>Last lap: <%= driverData[17].lap_time %></span>
  <svg xmlns="http://www.w3.org/2000/svg"
       width="24"
       height="24"
       viewBox="0 0 24 24"
       fill="none"
       stroke="#000">
       
       <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"/>
  </svg>
</article>

<!-- 19: George Russel -->
<article class="user-driver">
  <h3><%= driverData[18].driver_name %></h3>
  <span><%= driverData[18].position %></span>
  <span>Tyre: <%= driverData[18].tyre %></span>
  <span>Last lap: <%= driverData[18].lap_time %></span>
  <svg xmlns="http://www.w3.org/2000/svg"
       width="24"
       height="24"
       viewBox="0 0 24 24"
       fill="none"
       stroke="#000">
       
       <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"/>
  </svg>
</article>

<!-- 20: Nicholas Latifi -->
<article class="user-driver">
  <h3><%= driverData[19].driver_name %></h3>
  <span><%= driverData[19].position %></span>
  <span>Tyre: <%= driverData[19].tyre %></span>
  <span>Last lap: <%= driverData[19].lap_time %></span>
  <svg xmlns="http://www.w3.org/2000/svg"
       width="24"
       height="24"
       viewBox="0 0 24 24"
       fill="none"
       stroke="#000">
       
       <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"/>
  </svg>
</article>

<!-- <table>
<%  driverData.forEach(function(el, index) { %>
    <tr>   
        <td><%= el.driver_name %></td>
        <td><%= el.position %></td>
    </tr>
<% });%>
</table> -->

<!-- <script>
    var intervalId = window.setInterval(function(){
        fetch('http://localhost:3000/api/data')
        .then(response => response.json())
        .then(result => {
            console.log('Success:', result);
        })
    }, 5000);
</script> -->

<%- include('partials/footer.ejs'); %>
